html body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: beige;
}
.hide{
  display: none;
}
.editbtn{
  display: inline;
  color: black;
  /* background-color: black; */
  font-weight: bold;
  width: 5px;
  height: 1px;
  margin: 3px;
  padding: 1px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.8em;
  border-radius: 4px;
}
.deletebtn{
  color: red;
  display: inline;
  /* background-color: red; */
  font-weight: bold;
  width: 5px;
  height: 1px;
  margin: 3px;
  padding: 1px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.8em;
  border-radius: 4px;
}
/* flex row -> mainaxis xaxis cross y */
/* flex col -> mainaxis yaxis cross x */
/* mainaxis -> justify content */
/* crossaxis -> alignitem */

.meta{
  
  background-color: white;
  border: 2px solid black;
  width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.meta-meta{
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemlist{
  list-style: none;
  padding: 0;
  min-width: 251.025px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 124.4875px;
}
.container{
  left: 124.4875px;
  top: 10px;
  position: absolute;
  
  /* border: 2px solid green; */
  
}